.parameter-option-name{
    text-align:left;
    margin: 10px 0 20px 5px;
}
.parameter-select{
    position:absolute;
    left: 100px;
}
.parameter-unit-select{

    position:absolute;
    left: 200px;
}
